.list_box {
    margin: 50px 80px;
}

.list_item {
    margin: 5px;
    display: flex;
    align-items: flex-start;
    font-size: 40px;
    color: #275E96;
}
.list_item img {
    width: 20px;
    margin: 7px 25px;
}
.list_item img:hover {
    cursor: pointer;
}

